body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2em;
    background-color: #c4c4c4;
}
  
h1 {
    font-weight: normal;
    color: white;
}
  
.btn-primary {
  font-size: 24px;
}

.name {
  position: absolute;
  top: 427px;
  left: 8px;
  right: 8px;
  padding: 8px;
  /* background: rgba(242, 47, 70, 0.8); */
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#video-container {
  position: relative;
  white-space: initial;
  overflow-y: hidden;
  width: 100%;
  height: 500px;
}

#inputSec {
  display: none;
  margin-top: 70px;
}

#content {
  width: 100%;
}